<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firstapp.studentplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studentplanner">
        <activity android:name=".HomeworkDetail"></activity>
        <activity android:name=".HomeworkActivity" />
        <activity android:name=".ListOfMarks" />
        <activity android:name=".Day" />
        <activity android:name=".Calendar" />
        <activity android:name=".EditExistingSubject" />
        <activity android:name=".AddNewSubject" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".ListOfSubjects" />
        <activity android:name=".ListOfFields" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".Login" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".NotificationBroadcast" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>